.features{
 grid-column: center-start /center-end;
 grid-row: 2/3;
 min-height: 30rem;
 padding: 15rem 3rem;
 display: grid;
 grid-gap: 7rem;
 grid-template-columns: repeat(3,1fr);
 
}

.feature{
	position: relative;
	&__icon{
			fill: $color-dark-blue;
		 position: absolute;
		 top: -1rem;
		 left: -13rem;
		 height: 4rem;
	}
}