.header{
 grid-column: full-start/col-start 6;
 grid-row: 1/2;
 background-image:linear-gradient(rgba($color-dark1,.7),rgba($color-dark1,.8)),url('https://images.pexels.com/photos/2253647/pexels-photo-2253647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
 background-size: cover;
 background-repeat: no-repeat;

 display: grid;
 grid-template-columns: repeat(10, 1fr);
 &__logo{
  grid-column:5/7;
  grid-row: 1/2;
  font-size: 3rem;
  font-weight: 800;
 }
.content{
 grid-column: 2/9;
 grid-row: 2/3;
 
 &__title-primary{
  
 }
 &__title-secondary{
  
 }
 &__text{

 }
 & .btn{
 
 }
}
 
}