body{
 font-family: 'Raleway', sans-serif;
 font-size: 75.7%;
 line-height: 1.5;
 font-weight: 200;
}
h1,h2,h3,h4,h5,h6{
 font-family: 'Nunito Sans', sans-serif;
 font-weight: 700;

}
p{
 font-size: .9rem;
 color: $color-dark-gray;
}
.text-white{
 color: $color-white;
}
.h1{
 font-size: 3rem;
 text-transform: uppercase;
 &-special{
  font-weight: 200;
  font-style: italic;
  font-size: 2.2rem;
  color: $color-orange;
 }
}
.h2{
 font-size: 1.3rem;

 &-special{
  font-weight: 200;
  font-style: italic;
  font-size: 2.2rem;
  color: $color-orange;
 }
}
.h3{
 font-size: 1.1rem;
}

a,a:link,a:visited{
 color:$color-white;
 text-decoration: none;
}

.h4{
 font-size: 1rem;
}