// Colors
//  pastel colors palette
$color-bluelight:#66FCF1;
$color-bluelight-2:#45A29E;
// others

$color-dark1:#0B0C10;
$color-dark-blue:#1F2833;
$color-light-gray:#C5C6C7;
$color-dark-gray:#444444;
$color-white:#eee;
// font-sizes


// helpers

